<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>PCN Panamá</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../../assets/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../../assets/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="index.html"><img src="../../../assets/images/pcnlogo.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
                      
                             <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown"> <i class="fa fa-shopping-bag"></i>Tienda</a>
                            <ul class="dropdown-menu">
                                <li><a href="shop.html">Categorias</a></li>
                                <li><a href="shop-detail.html">Detalles productos</a></li>
                                <li><a href="cart.html">Mi Cesta</a></li>
                                <li><a href="checkout.html">Pagos</a></li>
                                
                               
                            </ul>
                        </li>

                        
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu"><a href="#">
						
                            <span class="badge"></span>
							<p></p>
					</a></li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Politicas de PCN</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active">Politicas de privacidad</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="../../../assets/images/about-img.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <br><br><br>
                    <h2 class="noo-sh-title-top">PCN -<span>Politicas de privacidad</span></h2>
                    <p>Su privacidad es muy importante para PCN , por lo que el uso de los datos recolectados se utilizará para:<br><br>
Entregarle los productos que adquiera. <br>
Procesar pedidos e informarle sobre el estado de los mismos.<br>
Realizar el proceso de cobro y facturación.<br>
También podemos utilizar la información recolectada con el fin de ofrecerle un mejor servicio:
<br>
Enviarle encuestas para mejorar, continuamente, los productos que le ofrecemos.
<br>
Puede indicarnos en cualquier momento sus preferencias para limitar la utilización de la información recolectada para las finalidades secundarias, puede cancelar su suscripción enviando un correo electrónico a ym@gmail.com

                    
					
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Correo electronico</h3>
                        <p>Correo electrónico: pcn@gmail.com</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Buzon de sugerencias</h3>
                        <p> Buzón de sugerencias: pcnsugerencias@gmail.com</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- End About Page -->



    <!-- Start Footer  -->
     <center>
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                     <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Contactanos</h3>
                            
                            
                                <li><a href="contact-us.html"><i class="fas fa-book-open" aria-hidden="true"></i>Contactanos</a></li>
                                
                            
                        </div>
            </div>          
                    
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Politica de privacidad</h3>
                            
                            <li><a href="about.html"><i class="fas fa-book-open" aria-hidden="true"></i>Politica de Privacidad</a></li>
                                
                                    
                                </div>
                                
                            
                        </div>
                    
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Redes Sociales</h3>
                            
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            
        </div>
         <img  src="../../../assets/images/pcnlogo.png"  width="90px"> <br>©PCN
        </footer>
        </center> 
    <!-- End Footer  -->

    <!-- Start copyright  -->
  
    <!-- ALL JS FILES -->
    <script src="../../../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../../../assets/js/popper.min.js"></script>
    <script src="../../../assets/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../../../assets/js/jquery.superslides.min.js"></script>
    <script src="../../../assets/js/bootstrap-select.js"></script>
    <script src="../../../assets/js/inewsticker.js"></script>
    <script src="../../../assets/js/bootsnav.js"></script>
    <script src="../../../assets/js/images-loded.min.js"></script>
    <script src="../../../assets/js/isotope.min.js"></script>
    <script src="../../../assets/js/owl.carousel.min.js"></script>
    <script src="../../../assets/js/baguetteBox.min.js"></script>
    <script src="../../../assets/js/form-validator.min.js"></script>
    <script src="../../../assets/js/contact-form-script.js"></script>
    <script src="../../../assets/js/custom.js"></script>
</body>

</html>