<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Site Metas -->
    <title>PCN-Panamá</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">


    
 <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">


   <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
   
    <!-- Site CSS -->
    <link rel="stylesheet" href="../../../assets/css/style.css">
     <link rel="stylesheet" href="../../../assets/css/styles.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../../assets/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../../assets/css/custom.css">
</head>

<body>
   <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="index.html"><img src="../../../assets/images/pcnlogo.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="index.html">Inicio</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Tienda</a>
                            <ul class="dropdown-menu">
                                <li><a href="shop.html">Categorias</a></li>
                                <li><a href="shop-detail.html">Detalles productos</a></li>
                                <li><a href="cart.html">Mi Cesta</a></li>
                                <li><a href="checkout.html">Pagos</a></li>
                                
                               
                            </ul>
                        </li>
                        
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu">
                            <a href="#">
                                
                                <span class="badge"></span>
                                <p></p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
 </header>
   

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2> Manuel Sanchez</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active">Categoria</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->


 <!-- Fin del encabezado -->
  
   
    <br><br><br><br>
    <center>
    <h2>Catalogo de Productos - Por Productor</h2>
    </center>
    <br>
    <!-- Inicio del catalogo de la tienda -->
  
    <section class="store" >
        <div class="container">
         <div class="items">
               
                 <h3>Manuel Sanchez</h3>
                <div class="row">
                    
                    <div class="col-sm-4">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Repollo Nacional</h3>

                            <img class="item-image" src="../../../assets/images/repollo.jpg">

                            <div class="item-details">
                                <h4 class="item-price">B/0.80</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR A LA CESTA</button>
                            </div>
                        </div>
                    </div>
              
                
                    <div class="col-sm-4">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Ajies dulce</h3>

                            <img class="item-image" src="../../../assets/images/ajiesdulce.jpg">
                            <div class="item-details">
                                <h4 class="item-price">B/0.80</h4>
                               
                                 <button class="item-button btn btn-primary addToCart">AÑADIR A LA CESTA</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Tomate Perita</h3>

                            <img class="item-image" src="../../../assets/images/tomateperita.png">
                            <div class="item-details">
                                <h4 class="item-price">B/1.00</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR A LA CESTA</button>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>

<center>
    <br><br>
     <div class="col-12 d-flex shopping-box"><a href="cart.html" class="ml-auto btn hvr-hover">Visitar cesta</a> </div>
   
   </center>
            </div>
       

    </section>
    <!-- Fin del catoalogo de la tienda -->

    

        </div>

    </section>
    
    <!-- Fin de la seccion cesta online -->
<center>
 
   <br>

  <!-- Start Footer  -->
    <center>
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                     <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Contactanos</h3>
                            
                            
                                <li><a href="contact-us.html"><i class="fas fa-book-open" aria-hidden="true"></i>Contactanos</a></li>
                                
                            
                        </div>
            </div>          
                    
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Politica de privacidad</h3>
                            
                            <li><a href="about.html"><i class="fas fa-book-open" aria-hidden="true"></i>Politica de Privacidad</a></li>
                                
                                    
                                </div>
                                
                            
                        </div>
                    
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Redes Sociales</h3>
                            
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
              
        </div>
             <img  src="../../../assets/images/pcnlogo.png"  width="90px"> <br>©PCN
    </footer>
</center>

    <!-- Algunos sripts necesarios -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


   <!-- ALL JS FILES -->
    <script src="../../../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../../../assets/js/popper.min.js"></script>
    <script src="../../../assets/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../../../assets/js/jquery.superslides.min.js"></script>
    <script src="../../../assets/js/bootstrap-select.js"></script>
    <script src="../../../assets/js/inewsticker.js"></script>
    <script src="../../../assets/js/bootsnav.js."></script>
    <script src="../../../assets/js/images-loded.min.js"></script>
    <script src="../../../assets/js/isotope.min.js"></script>
    <script src="../../../assets/js/owl.carousel.min.js"></script>
    <script src="../../../assets/js/baguetteBox.min.js"></script>
    <script src="../../../assets/js/form-validator.min.js"></script>
    <script src="../../../assets/js/contact-form-script.js"></script>
    <script src="../../../assets/js/custom.js"></script>

  
</body>
</html>